@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h1>Bienvenido Administrador. Que desea hacer hoy?.</h1>
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h3>
}
else
{
    <h2>  Hola <strong>@ViewBag.Name</strong> Opciones </h2>
}