@{
    ViewBag.Title = "Acerca de La Banda De Música del Estado";
}


<div>

    <center>
        <h1>Acerca de</h1>
        <h2>Banda de Música del Estado de Oaxaca</h2>
        <p>La Banda de Música del Estado de Oaxaca, es una agrupación musical de carácter sinfónico con sede en la ciudad mexicana de Oaxaca de Juárez. Fundada en 1871 la Banda Sinfónica del Estado de Oaxaca ha trabajado con reconocidos directores como Pablo Vázquez, Francisco Sakar, Amador Pérez Torres, Diego Innes y Abel Jiménez; además de importantes invitados como Eduardo Mata y Fernando Lozano desde 1995 es dirigida por Eliseo Martínez García, egresado del Conservatorio Nacional de Música de México. Actúa cada año en por lo menos 15 estados del país así como algunas presentaciones en los Estados Unidos.</p>
        <h3>Historia</h3><br>
        <p>
            Son conocidas por sus presentaciones en los denominados "Conciertos Bajo el Laurel" realizados en el zócalo la capital del estado. En esta administración realizó: 239 Conciertos dominicales "Bajo el Laurel" en la Ciudad de Oaxaca, 497 Serenatas y 32 Conciertos por invitación. Ha grabado cinco discos en formato L.P., así como 12 discos compactos, actualmente cuenta con 67 integrantes conformada por 3 mujeres y 64 hombres, cada uno de ellos formado en la escuela de música de la banda.

            La agrupación ha acompañando a instrumentistas y colaborado en producciones discográficas de diversos cantantes entre los que destacan Edith Zepeda, Alejandro Corona, Lila Downs, Susana Harp, Enrique Jaso, Ana Díaz, Geo Meneses, Natalia Lafourcade, Eugenia León y Alejandra Robles. El ensamble representó a México en el 11º. Festival Internacional Bandístico efectuado en Besana in Brianza, Italia en junio de 2003.
        </p>

        <img src="~/Imagenes/11.jpg" alt="" />
        <h4>Banda de Musica del Estado de Oaxaca en Concierto Bajo el Laurel</h4>
    </center>
</div>

