@{
    ViewBag.Title = "Contacto";
}
<div>
<center>
    <address>
        Eliseo Manuel Martinez Garcia<br />
        Camino al Tecnológico 203. Col. Santa Rosa<br />
        <abbr title="Telefono">P:</abbr>
        951-110-110-1
    </address>
    <img src="~/Imagenes/1.jpg" width="200px" height="250px" alt="imgf" />
    <img src="~/Imagenes/cheito1.jpg" width="200px" height="250px" alt="imgf" />
    <img src="~/Imagenes/cheito2.jpg" width="200px" height="250px" alt="imgf" />

    <address>
        <strong>Contacto:</strong>   <a>bandaDeMusicaDelEstado@gmail.com</a><br />
        <strong>Facebook:</strong> <a href="https://www.facebook.com/eliseomanuel.martinezgarcia?pnref=story">Banda De Musica Del Estado</a>
    </address>
</center>
</div>