
@{
    ViewBag.Title = "Aviso";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aviso</title>
</head>
<body>
    <h1>

        DONACION SOLICITADA CON EXITO!!!
    </h1>
    <h3>Acude a las oficinas de la banda para Recoger tu Obra Musical</h3>
    <button ></button>


</body>

